@@include('template-parts/head.php')
    @@include('template-parts/header.php')

    <div class="duality header-bottom">
        <div class="wrapper">
            <div class="line">
                <div class="col-7">
                    <h1 class="duality__title">
                        О компании
                    </h1>
                    <p class="duality__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa obcaecati quam, facere fugit praesentium ab rem, harum cumque fugiat, deleniti repudiandae vel molestias porro accusamus aut sapiente officiis iure maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit mollitia similique, sint voluptatem deleniti amet perspiciatis laboriosam explicabo repellat non ipsa recusandae eligendi dignissimos esse officia facere veritatis ducimus.
                    </p>
                </div>
                <div class="col-5">
                    <div class="duality__bg">

                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('template-parts/team.php')

    @@include('template-parts/numbers.php')

    @@include('template-parts/form-order.php')

    <div class="map">

    </div>



    @@include('template-parts/footer.php')
    @@include('template-parts/popup-form.php')
@@include('template-parts/bottom.php')