@@include('template-parts/head.php')
    @@include('template-parts/header.php')

        <div class="look header-bottom">
            <div class="wrapper">
                <h1 class="look__title">Ремонт холодильников на дому в Санкт-Петербурге</h1>
                <p class="look__txt">Расскажите о вашей поломке и получите бесплатную консультацию!</p>

                <div class="form-order" id="form-order">
                    <form action="#">
                        <input type="text" placeholder="Имя">
                        <input type="tel" placeholder="Телефон" required>
                        <input type="submit" value="Получить консультацию">
                    </form>
                </div>
            </div>
        </div>

        <div class="service-txt">
            <div class="wrapper">
                <div class="line">
                    <div class="col-12">
                        <h2 class="service-txt__title">
                            Ремонт холодильников на дому
                        </h2>
                    </div>
                    <div class="col-7">
                        <p class="service-txt__txt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa obcaecati quam, facere fugit praesentium ab rem, harum cumque fugiat, deleniti repudiandae vel molestias porro accusamus aut sapiente officiis iure maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit mollitia similique, sint voluptatem deleniti amet perspiciatis laboriosam explicabo repellat non ipsa recusandae eligendi dignissimos esse officia facere veritatis ducimus.
                        </p>
                    </div>
                    <div class="col-5">
                        <ul class="service-txt__list">
                            <li>
                                любые виды поломок
                            </li>
                            <li>
                                работаем в пригородах
                            </li>
                            <li>
                                ремонтируем все возможные бренды холодильников
                            </li>
                            <li>
                                готовы быть у вас для ремонта через полтора часа
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        @@include('template-parts/advantages.php')

        @@include('template-parts/numbers.php')

        @@include('template-parts/feedbacks.php')

        @@include('template-parts/steps.php')

        @@include('template-parts/order.php')

    @@include('template-parts/footer.php')

@@include('template-parts/popup-form.php')

@@include('template-parts/bottom.php')