@@include('template-parts/head.php')

    @@include('template-parts/header.php')

    <div class="breadcrumbs header-bottom">
        <div class="wrapper">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="#">Ремонт популярных марок холоидльников в Спб</a>
            </li>
            <li>
               <h1>Ремонт холодильников индезит</h1>
            </li>
        </div>
    </div>

    <div class="service-txt">
        <div class="wrapper">
            <div class="line">
                <div class="col-12">
                    <h2 class="service-txt__title">
                        Ремонт холодильников
                    </h2>
                </div>
                <div class="col-7">
                    <p class="service-txt__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa obcaecati quam, facere fugit praesentium ab rem, harum cumque fugiat, deleniti repudiandae vel molestias porro accusamus aut sapiente officiis iure maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit mollitia similique, sint voluptatem deleniti amet perspiciatis laboriosam explicabo repellat non ipsa recusandae eligendi dignissimos esse officia facere veritatis ducimus.
                    </p>
                </div>
                <div class="col-5">
                    <ul class="service-txt__list">
                        <li>
                            любые виды поломок
                        </li>
                        <li>
                            работаем в пригородах
                        </li>
                        <li>
                            ремонтируем все возможные бренды холодильников
                        </li>
                        <li>
                            готовы быть у вас для ремонта через полтора часа
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="service-menu">
        <div class="wrapper">
            <div class="line">
                <div class="col-7">
                    <a class="service-menu__link service-menu__link--first" href="">
                        <p>
                            Ремонтируемые марки холодильников
                        </p>
                    </a>
                </div>
                <div class="col-5">
                    <a class="service-menu__link service-menu__link--second" href="">
                        <p>
                            Неисправности холодильников
                        </p>
                    </a>
                </div>
                <div class="col-5">
                    <a class="service-menu__link service-menu__link--third" href="">
                        <p>
                            Районы обслуживания в пригородах
                        </p>
                    </a>
                </div>
                <div class="col-7">
                    <a class="service-menu__link service-menu__link--fourth" href="">
                        <p>
                            Районы обслуживания в Санкт-Петербурге
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @@include('template-parts/faq.php')
    @@include('template-parts/form-order.php')
    @@include('template-parts/brands.php')
    @@include('template-parts/districts.php')


<!--


    <div class="bread-wrap">
        <div class="wrapper">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li class="active"><a href="services.html">Услуги</a></li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <h1>Услуги нашей компании</h1>
        <div class="row">
            <div class="col-9">
                <div class="txt-block">
                    <p>
                        Представляем вашему вниманию перечень услуг компании «RemCold». Наши мастера специализируются на ремонте холодильников на дому в Санкт-Петербурге. Мы выполняем полный комплекс работ по их обслуживанию и ремонту.
                    </p>
                    <p>
                        Сделать заказ на услуги «RemCold» Вы можете круглосуточно по телефону
                        8 (XXX) XXX-XX-XX.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam reprehenderit magni officia, maiores autem, repellendus libero consequuntur facilis excepturi, amet consectetur voluptate eum pariatur nostrum fugit, minus. Quos vel, iure.
                    </p>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>

    <section class="service-company">
        <div class="wrapper">
            <h2 class="service-company__title">Какие холодильники мы <strong>ремонтируем</strong></h2>
            <div class="row">
                <div class="col-9">

                    <p>Импортные</p>
                    <ul class="service-company__list">
                        <li>
                            <a href="#"><img src="img/companies/aeg.jpg" alt="Ремонт холодильников Aeg (Аег) в Санкт-Петербурге" title="Ремонт холодильников Aeg (Аег) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/ardo.jpg" alt="Ремонт холодильников Ardo (Ардо) в Санкт-Петербурге" title="Ремонт холодильников Ardo (Ардо) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/asko.jpg" alt="Ремонт холодильников Asko (Аско) в Санкт-Петербурге" title="Ремонт холодильников Asko (Аско) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/ariston.jpg" alt="Ремонт холодильников Ariston (Аристон) в Санкт-Петербурге" title="Ремонт холодильников Ariston (Аристон) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/amana.jpg" alt="Ремонт холодильников Amana (Амана) в Санкт-Петербурге" title="Ремонт холодильников Amana (Амана) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/bauknecht.jpg" alt="Ремонт холодильников Bauknecht (Баукнет) в Санкт-Петербурге" title="Ремонт холодильников Bauknecht (Баукнет) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/beko.jpg" alt="Ремонт холодильников Beko (Беко) в Санкт-Петербурге" title="Ремонт холодильников Beko (Беко) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/bosch.jpg" alt="Ремонт холодильников Bosch (Бош) в Санкт-Петербурге" title="Ремонт холодильников Bosch (Бош) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/brandt.jpg" alt="Ремонт холодильников Brandt (Бранд) в Санкт-Петербурге" title="Ремонт холодильников Brandt (Бранд) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/candy.jpg" alt="Ремонт холодильников Candy (Канди) в Санкт-Петербурге" title="Ремонт холодильников Brandt (Бранд) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/daewoo.jpg" alt="Ремонт холодильников Daewoo (Дэу) в Санкт-Петербурге" title="Ремонт холодильников Daewoo (Дэу) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/electrolux.jpg" alt="Ремонт холодильников Electrolux (Электролюкс) в Санкт-Петербурге" title="Ремонт холодильников Electrolux (Электролюкс) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/frigidaire.jpg" alt="Ремонт холодильников Frigidaire (Фриджидайр) в Санкт-Петербурге" title="Ремонт холодильников Frigidaire (Фриджидайр) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/general-electric.jpg" alt="Ремонт холодильников General Electric (Дженерал Электрик) в Санкт-Петербурге" title="Ремонт холодильников General Electric (Дженерал Электрик) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/gorenje.jpg" alt="Ремонт холодильников Gorenje (Горение) в Санкт-Петербурге" title="Ремонт холодильников Gorenje (Горение) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/hansa.jpg" alt="Ремонт холодильников Hansa (Ханса) в Санкт-Петербурге" title="Ремонт холодильников Hansa (Ханса) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/indesit.jpg" alt="Ремонт холодильников Indesit (Индезит) в Санкт-Петербурге" title="Ремонт холодильников Indesit (Индезит) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/kaiser.jpg" alt="Ремонт холодильников Kaiser (Кайзер) в Санкт-Петербурге" title="Ремонт холодильников Kaiser (Кайзер) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/liebherr.jpg" alt="Ремонт холодильников  Liebherr (Либхер) в Санкт-Петербурге" title="Ремонт холодильников  Liebherr (Либхер) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/LG.jpg" alt="Ремонт холодильников  LG (Элджи) в Санкт-Петербурге" title="Ремонт холодильников  LG (Элджи) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/miele.jpg" alt="Ремонт холодильников  Miele (Миле) в Санкт-Петербурге" title="Ремонт холодильников  Miele (Миле) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/philco.jpg" alt="Ремонт холодильников  Philco (Филко) в Санкт-Петербурге" title="Ремонт холодильников  Philco (Филко) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/rosenlew.jpg" alt="Ремонт холодильников  Rosenlew (Розенлев) в Санкт-Петербурге" title="Ремонт холодильников  Rosenlew (Розенлев) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/samsung.jpg" alt="Ремонт холодильников  Samsung (Самсунг) в Санкт-Петербурге" title="Ремонт холодильников  Samsung (Самсунг) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/shivaki.jpg" alt="Ремонт холодильников  Shivaki (Шиваки) в Санкт-Петербурге" title="Ремонт холодильников  Shivaki (Шиваки) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/sharp.jpg" alt="Ремонт холодильников Sharp (Шарп) в Санкт-Петербурге" title="Ремонт холодильников Sharp (Шарп) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/siemens.jpg" alt="Ремонт холодильников Siemens (Сименс) в Санкт-Петербурге" title="Ремонт холодильников Siemens (Сименс) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/siltal.jpg" alt="Ремонт холодильников Siltal (Силтал) в Санкт-Петербурге" title="Ремонт холодильников Siltal (Силтал) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/stinol.jpg" alt="Ремонт холодильников Stinol (Стинол) в Санкт-Петербурге" title="Ремонт холодильников Stinol (Стинол) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/vestfrost.jpg" alt="Ремонт холодильников Vestfrost (Вестфрост) в Санкт-Петербурге" title="Ремонт холодильников Vestfrost (Вестфрост) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/vestel.jpg" alt="Ремонт холодильников Vestel (Вестэль) в Санкт-Петербурге" title="Ремонт холодильников Vestel (Вестэль) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/viking.jpg" alt="Ремонт холодильников Viking (Викинг) в Санкт-Петербурге" title="Ремонт холодильников Viking (Викинг) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/whirlpool.jpg" alt="Ремонт холодильников Whirlpool (Вирпул) в Санкт-Петербурге" title="Ремонт холодильников Whirlpool (Вирпул) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/zanussi.jpg" alt="Ремонт холодильников Zanussi (Занусси) в Санкт-Петербурге" title="Ремонт холодильников Zanussi (Занусси) в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/zerowatt.jpg" alt="Ремонт холодильников Zerowatt (Зероват) в Санкт-Петербурге" title="Ремонт холодильников Zerowatt (Зероват) в Санкт-Петербурге">
                            </a>
                        </li>
                    </ul>

                    <p>Отечественные</p>
                    <ul class="service-company__list">
                        <li>
                            <a href="#"><img src="img/companies/atlant.jpg" alt="Ремонт холодильников Атлант (Atlant) в Санкт-Петербурге" title="Ремонт холодильников Атлант (Atlant) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/birjusa.jpg" alt="Ремонт холодильников Атлант (Atlant) в Санкт-Петербурге" title="Ремонт холодильников Атлант (Atlant) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/dnepr.jpg" alt="Ремонт холодильников Днепр в Санкт-Петербурге" title="Ремонт холодильников Днепр в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/donbass.jpg" alt="Ремонт холодильников Донбасс в Санкт-Петербурге" title="Ремонт холодильников Донбасс в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/zil.jpg" alt="Ремонт холодильников Зил в Санкт-Петербурге" title="Ремонт холодильников Зил в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/nord.jpg" alt="Ремонт холодильников Nord (Норд) в Санкт-Петербурге" title="Ремонт холодильников Nord (Норд) в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/oka.jpg" alt="Ремонт холодильников Ока в Санкт-Петербурге" title="Ремонт холодильников Ока в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/orsk.jpg" alt="Ремонт холодильников Орск в Санкт-Петербурге" title="Ремонт холодильников Орск в Санкт-Петербурге">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/companies/saratov.jpg" alt="Ремонт холодильников Саратов в Санкт-Петербурге" title="Ремонт холодильников Саратов в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/sviyaga.jpg" alt="Ремонт холодильников Свияга в Санкт-Петербурге" title="Ремонт холодильников Свияга в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/kavkaz.jpg" alt="Ремонт холодильников Кавказ в Санкт-Петербурге" title="Ремонт холодильников Кавказ в Санкт-Петербурге">
                            </a>
                        </li>

                        <li>
                            <a href="#"><img src="img/companies/urzan.jpg" alt="Ремонт холодильников Юрюзань в Санкт-Петербурге" title="Ремонт холодильников Юрюзань в Санкт-Петербурге">
                            </a>
                        </li>



                    </ul>



                </div>
                <div class="col-3">
                    <div class="service-company__img">
                        <img src="img/service-company.jpg" alt="Ремонт холодильников различных марок">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-district">
        <div class="wrapper">
            <h2 class="service-district__title">Какие районы мы обслуживаем</h2>
            <div class="row">
                <div class="col-6">
                    <p>Наших мастеров можно вызвать в любой район города!</p>
                    <ol class="service-district__list">
                        <li><a href="#">Адмиралтейский район</a></li>
                        <li><a href="#">Василеостровский район</a></li>
                        <li><a href="#">Выборгский район</a></li>
                        <li><a href="#">Калининский район</a></li>
                        <li><a href="#">Кировский район</a></li>
                        <li><a href="#">Колпинский район</a></li>
                        <li><a href="#">Красногвардейский район</a></li>
                        <li><a href="#">Красносельский район</a></li>
                        <li><a href="#">Кронштадтский район</a></li>
                        <li><a href="#">Курортный район</a></li>
                        <li><a href="#">Московский район</a></li>
                        <li><a href="#">Невский район</a></li>
                        <li><a href="#">Петроградский район</a></li>
                        <li><a href="#">Петродворцовый район</a></li>
                        <li><a href="#">Приморский район</a></li>
                        <li><a href="#">Пушкинский район</a></li>
                        <li><a href="#">Фрунзенский район</a></li>
                        <li><a href="#">Центральный район</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="service-district__img">
                        <img src="img/service-district.jpg" alt="Обслуживаемые районы" title="Обслуживаемые районы">
                    </div>
                </div>
            </div>
            <p>Мы ремонтируем холодильники в ближайших пригородах:<p>
            <ul class="service-district__town-list">
                <li><a href="#">Петергоф</a>,</li>
                <li><a href="#">Пушкин</a>,</li>
                <li><a href="#">Павловск</a>,</li>
                <li><a href="#">Колпино</a>,</li>
                <li><a href="#">Всеволожск</a>,</li>
                <li><a href="#">Парголово</a>,</li>
                <li><a href="#">Бугры</a>,</li>
                <li><a href="#">Юкки</a>,</li>
                <li><a href="#">Янино-1</a>,</li>
                <li><a href="#">Красная Заря</a>,</li>
                <li><a href="#">Красное Село</a>,</li>
                <li><a href="#">Новоселье</a>,</li>
                <li><a href="#">Мурино</a>,</li>
                <li><a href="#">Новое Девяткино</a>,</li>
                <li><a href="#">Новосаратовка</a>,</li>
                <li><a href="#">Кудрово</a>,</li>
                <li><a href="#">Петро-Славянка</a>,</li>
                <li><a href="#">Стрельна</a>,</li>
                <li><a href="#">Сертолово</a>,</li>
                <li><a href="#">Шушары</a>...</li>
            </ul>
        </div>
    </section>

    <section class="service-metro">
        <div class="wrapper">
            <h2 class="service-metro__title">Мы работаем на всех станциях метро в Санкт-Петербурге</h2>
            <div class="row">
                <div class="col-6">
                    <ol class="service-metro__list">


                        <li><a href="#">Девяткино</a></li>
                        <li><a href="#">Гражданский проспект</a></li>
                        <li><a href="#">Академическая</a></li>
                        <li><a href="#">Политехническая</a></li>
                        <li><a href="#">Площадь Мужества</a></li>
                        <li><a href="#">Лесная</a></li>
                        <li><a href="#">Выборгская</a></li>
                        <li><a href="#">Площадь Ленина</a></li>
                        <li><a href="#">Чернышевская</a></li>
                        <li><a href="#">Площадь Восстания</a></li>
                        <li><a href="#">Владимирская</a></li>
                        <li><a href="#">Пушкинская</a></li>
                        <li><a href="#">Технологический институт</a></li>
                        <li><a href="#">Балтийская</a></li>
                        <li><a href="#">Нарвская</a></li>
                        <li><a href="#">Кировский завод</a></li>
                        <li><a href="#">Автово</a></li>
                        <li><a href="#">Ленинский проспект</a></li>
                        <li><a href="#">Проспект Ветеранов</a></li>


                        <li><a href="#">Парнас</a></li>
                        <li><a href="#">Проспект Просвещения</a></li>
                        <li><a href="#">Озерки</a></li>
                        <li><a href="#">Удельная</a></li>
                        <li><a href="#">Пионерская</a></li>
                        <li><a href="#">Чёрная речка</a></li>
                        <li><a href="#">Петроградская</a></li>
                        <li><a href="#">Горьковская</a></li>
                        <li><a href="#">Невский проспект</a></li>
                        <li><a href="#">Сенная площадь</a></li>
                        <li><a href="#">Технологический институт</a></li>
                        <li><a href="#">Фрунзенская</a></li>
                        <li><a href="#">Московские ворота</a></li>
                        <li><a href="#">Электросила</a></li>
                        <li><a href="#">Парк Победы</a></li>
                        <li><a href="#">Московская</a></li>
                        <li><a href="#">Звёздная</a></li>
                        <li><a href="#">Купчино</a></li>


                        <li><a href="#">Приморская</a></li>
                        <li><a href="#">Василеостровская</a></li>
                        <li><a href="#">Гостиный двор</a></li>
                        <li><a href="#">Маяковская</a></li>
                        <li><a href="#">Площадь Александра Невского</a></li>
                        <li><a href="#">Елизаровская</a></li>
                        <li><a href="#">Ломоносовская</a></li>
                        <li><a href="#">Пролетарская</a></li>
                        <li><a href="#">Обухово</a></li>
                        <li><a href="#">Рыбацкое</a></li>


                        <li><a href="#">Спасская</a></li>
                        <li><a href="#">Достоевская</a></li>
                        <li><a href="#">Лиговский проспект</a></li>
                        <li><a href="#">Площадь Александра Невского</a></li>
                        <li><a href="#">Новочеркасская</a></li>
                        <li><a href="#">Ладожская</a></li>
                        <li><a href="#">Проспект Большевиков</a></li>
                        <li><a href="#">Улица Дыбенко</a></li>


                        <li><a href="#">Комендантский проспект</a></li>
                        <li><a href="#">Старая Деревня</a></li>
                        <li><a href="#">Крестовский остров</a></li>
                        <li><a href="#">Чкаловская</a></li>
                        <li><a href="#">Спортивная</a></li>
                        <li><a href="#">Адмиралтейская</a></li>
                        <li><a href="#">Садовая</a></li>
                        <li><a href="#">Звенигородская</a></li>
                        <li><a href="#">Обводный канал</a></li>
                        <li><a href="#">Волковская</a></li>
                        <li><a href="#">Бухарестская</a></li>
                        <li><a href="#">Международная</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="service-metro__img">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
 -->


    @@include('template-parts/footer.php')
    @@include('template-parts/popup-form.php')
@@include('template-parts/bottom.php')