@@include('template-parts/head.php')

    @@include('template-parts/header.php')




    <div class="wrapper">
        <div class="row">
            <div class="col-8">
                <img src="img/tmp/bread.png" alt="">
                <img src="img/tmp/txt.png" alt="">
                @@include('template-parts/sub-menu.php')
                @@include('template-parts/prices.php')
                @@include('template-parts/faq.php')
                @@include('template-parts/form-order.php')
            </div>
            <div class="col-4">
                <img src="img/tmp/sd-adv.png" alt="">
                <img src="img/tmp/sd-feedback.png" alt="">
                <img src="img/tmp/sd-form.png" alt="">
            </div>
        </div>
    </div>


    @@include('template-parts/footer.php')
    @@include('template-parts/popup-form.php')
@@include('template-parts/bottom.php')