@@include('template-parts/head.php')
    @@include('template-parts/header.php')

        <div class="breadcrumbs header-bottom">
            <div class="wrapper">
                <li>
                    <a href="/">Главная</a>
                </li>
               <li>
                   <h1>Цены на ремонт холодильников на дому</h1>
                </li>
            </div>
        </div>


        @@include('template-parts/polomki.php')

        @@include('template-parts/brands.php')

        @@include('template-parts/rayoni.php')

        @@include('template-parts/prigorod.php')

        <section class="prices bb">
            <div class="wrapper">
                <h2 class="prices__title">
                    Что можно сделать
                </h2>
                <table>
                    <thead>
                        <tr>
                            <th>Поломка</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Замена реле</td>
                            <td>700-1300</td>
                        </tr>
                        <tr>
                            <td>Замена термостата</td>
                            <td>600-1200</td>
                        </tr>
                        <tr>
                            <td>Ремонт электросхемы</td>
                            <td>700-1200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>



        <div class="feedback-form">
            <div class="wrapper">
                <form action="">
                    <div class="feedback-form__head">
                        <input type="text" placeholder="Имя" required>
                        <input type="text" placeholder="Номер заказа" required>
                    </div>
                    <textarea name="message" placeholder="Ваш отзыв" rows="6"></textarea>
                    <label><input name="quality" type="radio" value="5"><span>Отлично</span></label>
                    <label><input name="quality" type="radio" value="4"><span>Хорошо</span></label>
                    <label><input name="quality" type="radio" value="3"><span>Средне</span></label>
                    <label><input name="quality" type="radio" value="2"><span>Плохо</span></label>
                    <label><input name="quality" type="radio" value="1"><span>Ужасно</span></label>
                    <input type="submit" value="Оставить отзыв">
                </form>
            </div>
        </div>

        <section class="feedbacks-all">
            <div class="wrapper">

                <h2 class="feedbacks-all__title">
                    Отзывы о ремонте холодильников на дому
                </h2>

                <ul>
                    <li>
                        <span class="feedbacks-all__name">
                            Галина
                        </span>
                        <span class="feedbacks-all__date">
                            18 янв. 2015
                        </span>
                        <div class="feedbacks-all__rank feedbacks-all__rank--four">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti a suscipit dignissimos assumenda aliquam obcaecati eveniet aliquid quam est! Sit magnam eaque minima, consectetur obcaecati sed pariatur vel accusamus autem.
                        </p>
                    </li>
                    <li>
                        <span class="feedbacks-all__name">
                            Галина
                        </span>
                        <span class="feedbacks-all__date">
                            18 янв. 2015
                        </span>
                        <div class="feedbacks-all__rank feedbacks-all__rank--four">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti a suscipit dignissimos assumenda aliquam obcaecati eveniet aliquid quam est! Sit magnam eaque minima, consectetur obcaecati sed pariatur vel accusamus autem.
                        </p>
                    </li>
                    <li>
                        <span class="feedbacks-all__name">
                            Галина
                        </span>
                        <span class="feedbacks-all__date">
                            18 янв. 2015
                        </span>
                        <div class="feedbacks-all__rank feedbacks-all__rank--four">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti a suscipit dignissimos assumenda aliquam obcaecati eveniet aliquid quam est! Sit magnam eaque minima, consectetur obcaecati sed pariatur vel accusamus autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eum, nisi, reprehenderit, asperiores odio aperiam fugit labore dicta ipsum fugiat error voluptas quia, veniam ut esse cum sapiente enim dolor!
                        </p>
                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
            </div>
        </section>

        <div class="txt">
            <div class="wrapper">
               @@include('template-parts/txt-template.html')
            </div>
        </div>

        <div class="wrapper">
            <img src="img/tmp/faq.png" alt="">
        </div>

    @@include('template-parts/footer.php')

@@include('template-parts/popup-form.php')

@@include('template-parts/bottom.php')