.form-order{

    min-height: 290px;
    text-align: center;

    form{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;

        input{
            display: block;
            width: 250px;
            height: 56px;
            border-radius: 100px;
            border: solid 1px #ffffff;
            background-color: transparent;
            color: #fff;
            padding-left: 31px;
            margin-bottom: 28px;
            outline: none;
        }

        input[type=submit]{
            cursor: pointer;
            padding: 0;
            background-color: $dark-sky-blue;
            border: none;

            transition: all 0.5s;

            &:hover{
                background-color: $green;
            }
        }
    }
}

.popup{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: 1000000000;/*должно быть 10 но оптимизатор тупит*/

    form{
        width: 570px;
        min-height: 449px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .popup-form__head{
            @mixin clearfix;
            display: inline-block;
            vertical-align: middle;
            margin-top: 68px;
            margin-bottom: 51px;
            max-width: 370px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: 0.5px;
            color: $greyish-brown;
        }

        .popup-form__close{
            position: absolute;
            top:20px;
            right: 20px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            background-image: url(../img/svg/close.svg);
            background-repeat: no-repeat;
            @mixin clearfix;
        }

       input{
            display: block;
            width: 250px;
            height: 56px;
            border-radius: 100px;
            border: solid 1px $pinkish-grey;
            padding-left: 31px;
            margin-bottom: 22px;
            outline: none;
        }

        input[type=submit]{
            cursor: pointer;
            padding: 0;
            background-color: $dark-sky-blue;
            color: #fff;
            border: none;
            transition: all 0.5s;

            &:hover{
                background-color: $green;
            }

        }

        div.wpcf7-response-output {
            color: #000;
        }
    }
}

.form-extra{
    min-height: 370px;
    padding: 90px 0;
    text-align: center;

    &__title{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.75;
        letter-spacing: 0.5px;
        padding: 0;
        margin: 0;
        color: $greyish-brown;
    }

    &__sub-title{
        font-size: 18px;
        font-weight: normal;
        line-height: 2.33;
        letter-spacing: 0.4px;
        color:  $greyish-brown;
        padding: 0;
        margin-top: 0;
        margin-bottom: 43px;
    }

    input{
         display: inline-block;
         vertical-align: middle;
         width: 250px;
         height: 56px;
         border-radius: 100px;
         border: solid 1px $pinkish-grey;
         padding-left: 31px;
         margin:0 20px;
         margin-bottom: 20px;
         outline: none;
     }

     input[type=submit]{
         cursor: pointer;
         padding: 0;
         background-color: $dark-sky-blue;
         color: #fff;
         border: none;

        transition: all 0.5s;

        &:hover{
             background-color: $green;
        }

     }

    form div.wpcf7-validation-errors{
        color: $dark-sky-blue;
    }


}

.feedback-form{
    min-height: 370px;
    padding: 90px 0;
    font-size: 0;

    &__head{
        @mixin clearfix;
        margin-bottom: 20px;
        /*
            input:first-child{
                float: left;
            }
            input:last-child{
                float: right;
            }
        */

    }

    input{
         display: inline-block;
         vertical-align: middle;
          /*width: 48%; убрано из-за совместимости с wp cf7*/
         width: 100%;
         height: 56px;
         border-radius: 100px;
         border: solid 1px $pinkish-grey;
         padding-left: 31px;
         outline: none;
         font-size: 18px;
         background: rgba(144, 144, 144, 0.075);
         border-radius: 4px;
         border: none;
         border: solid 1px rgba(144, 144, 144, 0.25);
         color: inherit;
         outline: 0;
         text-decoration: none;
    }

    input[type=submit]{
        cursor: pointer;
        padding: 0;
        background-color: $dark-sky-blue;
        color: #fff;
        border: none;
        transition: all 0.5s;
        float: right;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        transition: all .5s;
        &:hover{
            background-color: $green;
        }
    }

    input[type=radio]{
        cursor: pointer;
        height: 20px;
        background: none;

    }

    label{
         /*width: 20%; убрано для совместимости с wp cf7*/
        display: inline-block;
        vertical-align: middle;
        font-size:18px;
        color: $pinkish-grey;
        margin-bottom: 20px;
    }

    textarea{
        background: rgba(144, 144, 144, 0.075);
        border-radius: 4px;
        border: none;
        border: solid 1px rgba(144, 144, 144, 0.25);
        color: inherit;
        display: block;
        outline: 0;
        padding: 20px;
        text-decoration: none;
        min-height: 200px;
        width: 100%;
        font-size:18px;
        margin-bottom: 20px;
    }



}

input:checked + span{
            color: $dark-sky-blue;
        }

form{
    p{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    span.wpcf5-not-valid-tip{
        color: #fff;
    }
    div.wpcf7-response-output {
        margin: 0;
        color: #fff;
    }
    div.wpcf7-validation-errors {
        border: 2px solid  $dark-sky-blue;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
    .wpcf7-form-control-wrap{
        width: 100%;
    }
    input{
        margin: 0 auto;
    }
    .text-613{
        width: auto;
    }
    .tel-845{
        width: auto;
    }
}

#wpcf7-f243-o1{
    .wpcf7-response-output{
        color:$dark-sky-blue;
    }
}

#wpcf7-f295-o1{
    .wpcf7-radio{
        width: 100%;
        text-align: center;
    }

    span.wpcf7-list-item{
        width: 20%;
    }

    .text-288{
        float: left;
        width: 48%;
    }
    .text-61{
        float: right;
        width: 48%;
    }

    .wpcf7-response-output{
        font-size: 13px;
        color:$dark-sky-blue;
        width: 50%;
    }
}