*{
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}

.wrapper
{
  margin: 0 auto;
  width: $wrapper-width;
}

.line
{
  font-size: 0;
  margin: 0 -$wrapper-margin;
  & [class^=col-]
  {
    display: inline-block;
    vertical-align: top;
    padding:0 $wrapper-margin;
    font-size: $font-size-base;
  }
}

.row
{
  @mixin clearfix;
  margin: 0 -$wrapper-margin;
  & [class^="col-"]
  {
    float: left;
    padding: 0 $wrapper-margin;
    font-size: $font-size-base;
  }
}


.clearfix
{
  &:after, &:before
  {
    content: "";
    display: table;
    clear: both;
  }
}

.mt{
  margin-top: 80px;
}