@define-mixin clearfix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@define-mixin title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2.08;
    letter-spacing: 0.8px;
    color: $greyish-brown;
    padding-top: 0;
    margin-top: 0;
    &:after{
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: $greyish-brown;
        margin-bottom: 18px;
    }
}

@define-mixin txt {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: 0px;
    color: #4a4a4a;
    padding-top: 0;
    margin-top: 0;
}

@define-mixin form-order-input {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    width: 200px;
    font-size: 20px;
    outline: none;
    border: none;
    padding-left: 5px;
}


@define-mixin sprite $x, $y, $width, $top{
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprite.png);
    width: $width;
    height: $width;
    top: $top;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-repeat: no-repeat;

    background-position: $(x) $(y) ;
}


@define-mixin btn{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: #fff;
    min-width: 250px;
    padding: 19px 14px;
    border-radius: 92px;
    background-color: $dark-sky-blue;
    cursor: pointer;
}


@define-mixin smoke{

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        background: $bg-basic;
        overflow: hidden;
        z-index: 1;
    }

}