body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
}


.title{
    @mixin title;
}

.bb{
    border-bottom: 1px solid $pinkish-grey;
}


/*
img{
    width: 100%;
}
*/