.duality{
    padding-top: 55px;
    padding-bottom: 50px;
    min-height: 495px;
    border-bottom: 1px solid #bebebe;
    &__title{
        @mixin title;
        margin-top: 30px;
    }

    &__txt{
        @mixin txt;
    }

    &__bg{
        position: relative;

        &:before{
            content: "";
            position: absolute;
            top: 210px;
            left: -40px;
            display: inline-block;
            vertical-align: middle;
            background-image:url('../img/svg/shape.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 164.8px;
            height: 167px;
        }

        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            vertical-align: middle;
            background-image:url('../img/svg/shape.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 310px;
            height: 314.1px;
            transform: rotate(-5deg);
        }
    }

    &__list{
        padding: 0;
        margin: 0;
        list-style: disc;
        li{
            margin-bottom: 7px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            color: #4a4a4a;
        }
    }
}


.about-team{
    padding-top: 55px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bebebe;

    &__title{
        @mixin title;
    }

    &__img{
        position: relative;
    }

    &__txt{
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        margin: auto;
        padding: 7px 0;
        background-color: rgba(74,74,74, .9);
    }

    img{
        width: 100%;
    }

    ul{
        margin: 0;
        padding: 0;
        font-size: 0;
        margin: 0 -20px;

        li{
            display: inline-block;
            vertical-align: middle;
            width: 25%;
            padding: 0 20px;
            margin-bottom: 20px;
            text-align: center;
            opacity: 0.9;
        }

        p{
            font-size: 15px;
            margin: 0;
            padding: 0;
        }


        span{
            font-size: 18px;
            display: block;
            letter-spacing: .5px;

            font-weight: bold;
        }
    }
}