.advantages{

    padding-top: 100px;
    padding-bottom: 105px;
    text-align: center;
    color: $greyish-brown;
    min-width: $wrapper-width;

    &__item{
        display: inline-block;
        vertical-align: top;

        &:before{
            content: "";
            display: block;
            width: 97px;
            height: 97px;
            background-image: url(../img/_for_sprite/fix.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-bottom: 37px;
            border: 1px solid $dark-sky-blue;
            border-radius:50%;

            background-position: 50% 50%;
        }

        &--quality{
            &:before{
                background-image: url(../img/svg/quality.svg);
                background-size:45px;

            }

        }

        &--expert{
            &:before{
                background-image: url(../img/svg/expert.svg);
                background-size:45px;
            }

        }

        &--responsibility{
            &:before{
                background-image: url(../img/svg/responsibility.svg);
                background-size:25px;
            }
        }
    }

    &__item-title{
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 7px;
    }

    &__item-txt{
        width: 220px;
        margin: 0 auto;
    }
}