.faq{

    padding: 54px 0;
    background-color:$white-three;
    font-size: 0;

    &__title{
        font-size: 36px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.8px;
        margin-bottom: 52px;
        color: $greyish-brown;
    }

    ul{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0;
        width: 50%;
    }
    li{

        margin-bottom: 15px;

        &:before{
            content: "";
            display: inline-block;
            vertical-align: top;
            width: 38px;
            height: 38px;
            background-image: url('../img/svg/faq.svg');
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 12px;
            margin-top: 8px;
        }
    }

    &__q{
        display: inline-block;
        vertical-align: top;
        max-width: 450px;
        p{
            font-size: 18px;
            font-weight: bold;
            line-height: 1.5;
            letter-spacing: 0.4px;
            color: $greyish-brown;
            padding: 0;
            margin: 0;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            color: $dark-sky-blue;
            cursor: pointer;



            &:after{
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 14px;
                height: 9px;
                background-image: url('../img/svg/chevron-faq-down.svg');
                transform: rotate(-180deg);
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: 5px;
            }
        }

        &--open{
            span{
                &:after{
                    transform: rotate(0);
                }
            }
        }
    }
    &__a{
        display: none;
        padding-left: 50px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        color: #4a4a4a;
    }
}


.faq li:hover{
    &:before{
        animation: bounce 2s;
    }
}

