.feedbacks{
    position: relative;
    z-index: 0;
    padding: 100px 0;
    min-width: $wrapper-width;
}


.feedbacks-list{
    font-size: 0;
    cursor: move;
    padding: 0 100px;

    &__txt{
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        width: 500px;
    }

    &__img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 45px;
        border-radius: 50%;
    }

    &__name{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: $greyish-brown;
    }

    &__q{
        margin: 0;
        font-size: 14px;
        color: $greyish-brown;
    }

}

.feedbacks-all{

    padding-top: 55px;
    padding-bottom: 50px;
    color:$greyish-brown;

    &__title{
        @mixin title;
    }

    &__name{
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "\f007";
            font: normal normal normal 14px/1 FontAwesome;
            margin-right: 5px;
        }
    }

    &__date{
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "\f073";
            font: normal normal normal 14px/1 FontAwesome;
            margin-right: 5px;
        }
    }

    &__rank{
        display: inline-block;
        vertical-align: middle;
        color: $dark-sky-blue;
        font-size: 15px;

        &--four{
            i:nth-child(-n+1){
                color: $pinkish-grey;
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
        width: 70%;

        li{
            margin-bottom: 20px;
            min-height: 100px;
            background-color: $white-three;
            padding: 20px;
        }
    }

    blockquote{
        margin: 0;
        padding: 10px 0;
    }

    cite{
        font-style: normal;
    }

}


.owl-carousel .owl-item img {
    display: inline-block;
    vertical-align: middle;
    max-height: 237px;
    max-width: 237px;
}

.owl-carousel .owl-dot {
    width: 14px;
    height: 14px;
    border:1px solid $pinkish-grey;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 7px;
    display: inline-block;
    vertical-align: middle;
}

.owl-carousel .owl-dot.active {
    background-color: $pinkish-grey;
}


.owl-dots{
    text-align: center;
}


.owl-nav{
    font-size: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45%;
    font-size: 40px;
}

.owl-next, .owl-prev{
    width: 55px;
    height: 55px;
    border-radius:50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    background-repeat: no-repeat;
    background-position: 50%;
}


.owl-prev{
    position: absolute;
    left: 10px;
    background-image:url('../img/svg/chevron-left.svg');
}

.owl-next{
    position: absolute;
    right: 10px;
    background-image:url('../img/svg/chevron-right.svg');
}

.owl-carousel .owl-stage-outer{
    min-height: 240px;
}