.footer
{
    padding-top: 40px;
    padding-bottom: 35px;
    /* box-shadow: inset 0 1px 0 0 $pinkish-grey;*/
    /*background-color:$pinkish-grey;*/
    min-width: $wrapper-width;

    p{
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.3px;
    }

    &__link{
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        color: $dark-sky-blue;
        letter-spacing: 0.6px;
        transition: all 0.5s;

        &:hover{
            color: $green;
        }
    }

    &__tel{
        text-align: right;
        font-size: 17px;
        font-weight: bold;
        color: $greyish-brown;
        &:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            background-image: url('../img/svg/phone.svg');
            width: 20px;
            height: 20px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:hover{
            &:before{
                animation: tada 2s;
            }
        }
    }
}
