.heads{
    padding: 44px 0;
    min-height: 138px;
    background-color: $white-three;
    &__title{
        padding: 0;
        margin: 0;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: $greyish-brown;
    }
}