@keyframes rotate{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50000;

    /*width: 100%;*/
    padding: 30px 0;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 2px 10px 0 $pinkish-grey, 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    @mixin clearfix;

    min-width: $wrapper-width;

    .logo
    {
        float: left;

        img{
            animation: rotate 7s infinite linear;
        }

        a{
            font-size: 36px;
            line-height: 1;
            font-weight: bold;
            color: $greyish-brown;
        }

        .cog{
            display: inline-block;
            font-size: 36px;
            transition: all 0.8s ease-out;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
    }

    .nav-toggle{
        display: none;
        vertical-align: middle;
        margin-left: 15px;
        padding: 4px;
        height: 30px;
        width: 30px;
        background-color: transparent;
        background-image: none;
        border: 2px solid $dark-sky-blue;
        outline: 0;
        cursor: pointer;

        &__bar {
            display: block;
            width: 100%;
            height: 4px;
            margin-bottom: 3px;
            border-radius: 1px;
            background-color: $dark-sky-blue;
        }
    }

    .main-nav
    {
        display: inline-block;
        vertical-align: middle;

        ul{
            padding: 0;
        }

        li{
            display: inline-block;
            vertical-align: top;
            border-bottom: 2px solid transparent;
            margin:0 24px;

            a{
                color: $grey-basic;
                text-transform: uppercase;
                line-height: 36px;
                font-size: 12px;
                letter-spacing: 0.9px;
            }

            &:hover{
                border-bottom: 2px solid $green;
            }
        }

        .current-menu-item{
            border-bottom:2px solid $dark-sky-blue;
        }
    }

    .tel-btn{
        float: right;

        &__tel{
            display: block;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: bold;
            color: $greyish-brown;
            margin-bottom: 3px;
        }

        &__btn{
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            font-size: 12px;
            color: $dark-sky-blue;
            border-radius: 18px;
            border: solid 1px $dark-sky-blue;
            padding: 1px 8px 3px 8px;
            transition: all 0.5s;

            &:hover{
                border: solid 1px  $green;
                color: $green;
            }

        }
    }
}

.header-bottom{
    margin-top: 108px;
}