.look{
    position: relative;
    min-height: 520px;
    background-image:url('../img/main-look.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: $wrapper-width;
    padding-top: 75px;
    padding-bottom: 85px;


    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.42;
        background-color: #000;
        top: 0;
    }

    &__title{
        position: relative;
        z-index: 1;
        text-align: center;
        font-size: 35px;
        color: #fff;
        margin-bottom: 21px;
    }

    &__txt{
        position: relative;
        z-index: 1;
        text-align: center;
        font-size: 18px;
        color: #fff;
        margin-bottom: 54px;
    }
}