.numbers{

    padding: 50px 0;
    text-align: center;
    min-width: $wrapper-width;
    background-color: $white-three;
    border-bottom:1px solid #bebebe;

    &__number{
        display: block;
        text-align: center;
        font-size: 40px;
        color: $greyish-brown;
        font-weight: bold;
        margin-bottom: 16px;
    }

    &__txt{
        color: $greyish-brown;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        width: 165px;
    }
}