.prices{
    text-align: left;
    padding-top: 55px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bebebe;
    &__title{
        @mixin title;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 18px;

        thead{
            border-bottom: 2px solid #bebebe;
            font-weight: bold;
        }

        tr{

            border-left: 0;
            border-right: 0;
            color: $greyish-brown;
            &:nth-child(2n) {
                background-color:$white-three;
                border-bottom: 1px solid #bebebe;
                border-top: 1px solid #bebebe;
            }
        }

        td,th{
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
        }
    }
}