.see-also{
    font-size: 15px;

    p{
        margin-bottom: 10px;
        font-size: 20px;
    }

    ul{
        margin-left: 0;
        padding-left: 0;
    }

    li{
        margin-bottom: 5px;
    }
}