.service-menu{
    padding: 50px 0;
    &__link{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        min-height: 370px;
        margin-bottom: 30px;
        opacity: 0.8;
        transition: all .5s;

        &--first{
            background-image: url('../img/service-menu-1.png');
        }
        &--second{
            background-image: url('../img/service-menu-2.png');
        }
        &--third{
            background-image: url('../img/service-menu-3.png');
        }
        &--fourth{
            background-image: url('../img/service-menu-4.png');
        }

        &:hover{
            opacity: 1;
           p{
            color: $dark-sky-blue;
           }
        }

        p{
            position: absolute;
            z-index: 5;
            left: 0;
            right: 0;
            bottom: 0;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.5px;
            margin: auto;
            padding:33px 0 33px 18px;
            background-color: rgba(74,74,74,0.9);
            transition: all .5s;
        }
    }
}


.service-company{
    padding: 40px 0;
    border-bottom: 1px solid #bebebe;
    &__title{
        font-size: 36px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.8px;
        color: $greyish-brown;
    }

    &__list{
        padding: 0;
        margin: 0;
        font-size: 0;
        margin-bottom: 20px;

        li{
            display: inline-block;
            vertical-align: middle;
            height: 60px;
            width: 111px;
            padding: 10px ;
            border-right: solid 1px $pinkish-grey;
            border-bottom: solid 1px $pinkish-grey;
            &:nth-child(-n +9){
                border-top: solid 1px $pinkish-grey;
            }
            &:nth-child(9n +1){
                border-left: solid 1px $pinkish-grey;
            }

            a{
                display: block;
                height: 100%;
                position: relative;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    display: inline-block;
                    vertical-align: middle;
                    transition: all .5s;
                    width: 80px;
                }
            }
            &:hover{
                img{
                     transform:scale(1.2);
                     -webkit-transform: translateZ(0) scale(1.2, 1.2);
                }
            }
        }
    }

    &__ruslist{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.17;
            color: $greyish-brown;

            a{
                font-size: 18px;
                font-weight: normal;
                line-height: 1.17;
                color: $greyish-brown;
                transition: color .5s;
                &:hover{
                   color: $dark-sky-blue;
                }
            }
        }
    }
}

.service-txt{
    padding-top: 55px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(190, 190, 190);

    &__title{
        @mixin title;
    }

    &__txt{
        @mixin txt;
    }

    &__users{
        color: $greyish-brown;
        text-align: center;
        display: block;
        font-size: 250px;
    }

    &__contact{
        color: $greyish-brown;
        text-align: center;
        display: block;
        font-size: 180px;
    }

    &__list{
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            margin-bottom: 7px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            color: #4a4a4a;
            &:first-child{
                &:before {
                    content: "\f0ad";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 5px;
                }
            }
            &:nth-child(2){
                &:before {
                    content: "\f015";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 5px;
                }
            }
            &:nth-child(3){
                &:before {
                    content: "\f085";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 5px;
                }
            }
            &:nth-child(4){
                &:before {
                    content: "\f017";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 5px;
                }
            }

        }
    }
}
