/*
.advantages__item, .sure__facts-item{
  position: relative;
}

.advantages__item--expert:before {
  @mixin sprite -200px, 0, 80px, 20px;
}
.advantages__item--fix:before {
  @mixin sprite -200px, -90px, 80px, 20px;
}
.advantages__item--price:before {
  @mixin sprite 0px, -200px, 80px, 20px;
}
.advantages__item--time:before {
  @mixin sprite -90px, -200px, 80px, 20px;
}


.sure__facts-item--arm:before {
  @mixin sprite 0, 0, 90px, 0;
}
.sure__facts-item--check:before {
  @mixin sprite -100px, 0, 90px, 0;
}

.sure__facts-item--insure:before {
  @mixin sprite 0, -100px, 90px, 0;
}

.sure__facts-item--quality:before {
  @mixin sprite -100px, -100px, 90px, 0;
}
*/