.steps{
    padding: 110px 0;
    text-align: center;
    color: $greyish-brown;
    background-color: $white-three;
    min-width: $wrapper-width;
    &__title{
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
    }

    &__txt{
        width: 270px;
        margin: 0 auto;
    }
}

.step{
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 75px;
    padding-bottom: 60px;

    &--one{
        background-image: url(../img/svg/1.svg);

        &:after{
            content: "";
            position: absolute;
            border: 25px solid transparent;
            border-left: 50px solid rgba(73, 143, 225, 0.08);
            right: -70px;
            top: 90px;
        }
    }

    &--two{
        background-image: url(../img/svg/2.svg);

        &:after{
            content: "";
            position: absolute;
            border: 25px solid transparent;
            border-left: 50px solid rgba(73, 143, 225, 0.08);
            right: -70px;
            top: 90px;
        }
    }

    &--three{
        background-image: url(../img/svg/3.svg);
    }


}
