.txt-block{
    p{
      margin-bottom: 10px;
      font-size: 16px;
    }
}

.txt{
    /*font-family: $ff2;*/
    padding:30px 0 50px 0;
    color: #777;
    font-size: 16px;

    &__title{
        color: #25383B;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
    }

    &__sub-title{
        color: #25383B;
        font-size: 21px;
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: $dark-sky-blue;
        transition:color 0.5s;

        &:hover{
            color: $green;
        }
    }

    &__txt{
        color: #777;
        font-size: 16px;
        font-weight: normal;
    }

    &__ul{
        list-style: disc;
    }

    &__ol{

    }
}

.link-list{
    padding: 70px 0;
    &__title{
        font-size: 36px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.8px;
        color: $greyish-brown;
    }
    &__sub-title{
        font-size: 24px;
        font-weight: normal;
        line-height: 1.75;
        letter-spacing: 0.5px;
        color: $greyish-brown;
        margin-bottom: 50px;
    }

    &__img{
        img{
            width: 100%;
        }
    }

    .left-list{
        margin-left: 20px;
    }

    ol{
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: normal;
            a{
                line-height: 1.17;
                color: $greyish-brown;
                transition: color 0.5s;


                &:hover{

                     color:$dark-sky-blue;
                }
            }
        }
    }
}


.see-more{
    padding: 40px 0;

    &__title{
        @mixin title;
    }

    ul{
        margin: 0;
        padding: 0;
        font-size: 0;

        li{
            display: inline-block;
            vertical-align: middle;
            width: 33%;
            margin-bottom: 7px;

            a{
                text-decoration: none;
                color: $greyish-brown;
                font-size: 15px;
                transition:color 0.5s;
                &:hover{
                    color: $dark-sky-blue;
                }
            }
        }
    }

    &--2{
        ul{
            li{
                width: 50%;
            }
        }
    }
}